@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  background-color: rgb(186, 160, 235);
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Copperplate", sans-serif;
  font-weight: 700;
  border-color: aqua;
  border-top-style: dotted;
  border-left-style: dashed;
  border-right-style: groove;
  border-bottom-style: double;
}
h3 {
  font-family: "Papyrus", sans-serif;
}
#mov1 {
    background-color: rgb(187, 232, 169);
    color: white;
}
#mov2 {
    background-color: rgb(128, 90, 185);
    color: white;
}
#mov3 {
    background-color: rgb(232, 169, 169);
    color: white;
}